.content {
    width: 100%;
}
.content ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.content ul li {
    margin: 20px;
}